<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio.Site</title>
    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="~/css/tiny-slider.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/lindy-uikit.css" />
</head>
<body>
    <div class="preloader">
        <div class="loader">
            <div class="spinner">
                <div class="spinner-container">
                    <div class="spinner-rotator">
                        <div class="spinner-left">
                            <div class="spinner-circle"></div>
                        </div>
                        <div class="spinner-right">
                            <div class="spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="home" class="hero-section-wrapper-5">
        <partial name="_Header" />
        @RenderBody()
    </section>

    <partial name="_Footer" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/tiny-slider.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
